<!doctype html>
<html>
  <head>
    <title>Electric Six</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<div class="container">
  		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	    	<h1>"You will never find time for anything. If you want time you must make it."</h1>
	    </div>
	    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		    <p><img src="http://www.ikea.com/PIAimages/0175112_PE332983_S5.JPG" width="300" height="300" alt="image"></p>
		    <h3><strong>Clocks</strong></h3>
		</div>
	</div>
  </body>
</html>